<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Address>127.0.0.1</Address>
  <Port>12000</Port>
  <Dashboards>D:\Aplicaciones\PictoManagementApplication\Dashboards.json</Dashboards>
  <DashboardsFolder>D:\Aplicaciones\PictoManagementApplication\Dashboards\</DashboardsFolder>
  <DashboardsTemp>D:\Aplicaciones\PictoManagementApplication\DashboardsTemp\</DashboardsTemp>
  <Images>D:\Aplicaciones\PictoManagementApplication\Client\</Images>
  <Temp>D:\Aplicaciones\PictoManagementApplication\ClientTemp\</Temp>
</Config>